.search-typeahead {
    position: relative;
    .result-list {
        position: absolute;
        top: 100%;
        padding: 15px;
        background-color: #fff;
        color: #333;
        box-shadow: #aaaaaa 5px 5px 20px 0px;
        width: 100%;
        li {
            padding: 5px 0;
            font-size: 14px;
            cursor: pointer;
            &:not(:last-child) {
                border-bottom: 1px solid #eee; 
            } 
        }
    }
}